<div class="container">
    <div class="top-bar">
        <!--logo-->
        <div class="logo">
            <img
                src="../assets/icon/logo.svg"
                alt="grocerymart"
                class="logo__img"
            />
            <h1 class="logo__title">grocerymart</h1>
        </div>
        <!--nav-->
        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="" class="navbar__link"
                        >Departments
                        <img
                            src="../assets/icon/arrow.svg"
                            alt=""
                            class="navbar__arow"
                        />
                    </a>
                </li>
                <li>
                    <a href="" class="navbar__link"
                        >Grocery
                        <img
                            src="../assets/icon/arrow.svg"
                            alt=""
                            class="navbar__arow"
                        />
                    </a>
                </li>
                <li>
                    <a href="" class="navbar__link"
                        >Beauty
                        <img
                            src="../assets/icon/arrow.svg"
                            alt=""
                            class="navbar__arow"
                        />
                    </a>
                </li>
            </ul>
        </nav>
        <!--action-->
        <div class="top-act">
            <div class="top-act__group">
                <button class="top-atc__btn">
                    <img
                        src="../assets/icon/search.svg"
                        alt=""
                        class="top-atc__icon"
                    />
                </button>
            </div>
            <div class="top-act__group">
                <button class="top-atc__btn">
                    <img
                        src="../assets/icon/heart.svg"
                        alt=""
                        class="top-atc__icon"
                    />
                    <span class="top-atc__title">03</span>
                </button>
                <div class="top-act__separate"></div>
                <button class="top-atc__btn">
                    <img
                        src="../assets/icon/byuy.svg"
                        alt=""
                        class="top-atc__icon"
                    />
                    <span class="top-atc__title">$65.42</span>
                </button>
            </div>
        </div>
        <div class="top-act__user">
            <!-- <img src="../assets/img/57.jpg" alt="" class="top-act__avatar" /> -->
        </div>
    </div>
</div>
