*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
}
button {
    border: none;
    outline: none;
    background: transparent;
}
